/*********************tag selectors*********************/
h1{
    color: greenyellow;
    font-size: 50px;
    font-weight: 600;
}

img:hover{
    background-color:goldenrod;
}


/*******************class selectors**********************/

.bacon {
    background-color: aqua;
}

.broccoli {
    background-color: brown;
}

.circular{
    border-radius: 75%;
}
/******************id selector************************/

#heading{
    color: crimson;
    font-size: 60px;
    font-style: oblique;
}